Jason data
[{
    "id": "4b2133b7.be3c3c",
    "type": "tab",
    "label": "Weather App",
    "disabled": false,
    "info": ""
}, {
    "id": "45c7ed72.f9a6c4",
    "type": "inject",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "1",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 90,
    "y": 60,
    "wires": [
        ["47146447.92cccc", "6ebe521b.22d67c", "512d5c9.9ce53a4", "dc13850e.364298", "a0dfa7f8.8bca78"]
    ]
}, {
    "id": "47146447.92cccc",
    "type": "http request",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": false,
    "url": "api.openweathermap.org/data/2.5/weather?q=Sydney,au&units=imperial&appid=09582a74aa811776969e87890d696596",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "basic",
    "x": 290,
    "y": 80,
    "wires": [
        ["a83f1747.409d78", "d165e09a.6f78e", "f6c0f15d.9ea4f"]
    ]
}, {
    "id": "c530d598.193698",
    "type": "template",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "<html>\n    <head>\n    </head>\n    <body>\n        <div id=\"\"><span>Hello</span>\n        \n            \n        </span>\n        </div>\n        <form id=\"\">\n            <div>\n                <span>\n                    We developed a weather and a live clock app so to browse Click below.\n                </span>\n               \n            </div>\n            <div>\n              <a href=\"https://node-red-birochanchaudhary.mybluemix.net/ui\"> Next</a>\n            </div>\n        </form>\n    </body>\n</html>",
    "output": "str",
    "x": 420,
    "y": 720,
    "wires": [
        ["78861108.229b9"]
    ]
}, {
    "id": "78861108.229b9",
    "type": "http response",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 710,
    "y": 740,
    "wires": []
}, {
    "id": "7753a41b.50baec",
    "type": "http in",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "url": "/weather",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 700,
    "wires": [
        ["c530d598.193698"]
    ]
}, {
    "id": "6ebe521b.22d67c",
    "type": "http request",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": false,
    "url": "api.openweathermap.org/data/2.5/weather?q=Melbourne,au&units=imperial&appid=09582a74aa811776969e87890d696596",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "basic",
    "x": 310,
    "y": 240,
    "wires": [
        ["e6e27b3c.e95708", "11f8c32a.85d2ed"]
    ]
}, {
    "id": "a83f1747.409d78",
    "type": "function",
    "z": "4b2133b7.be3c3c",
    "name": "Temperature",
    "func": "msg.payload=msg.payload.main.temp\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 350,
    "y": 140,
    "wires": [
        ["cd7bfaa4.155888", "2d61e77.a7d4118"]
    ]
}, {
    "id": "d165e09a.6f78e",
    "type": "function",
    "z": "4b2133b7.be3c3c",
    "name": "Humidity",
    "func": "msg.payload=msg.payload.main.humidity\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 340,
    "y": 180,
    "wires": [
        ["6db2733a.2b5f4c", "29b5b858.04e0a8"]
    ]
}, {
    "id": "cd7bfaa4.155888",
    "type": "debug",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 550,
    "y": 120,
    "wires": []
}, {
    "id": "6db2733a.2b5f4c",
    "type": "debug",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 510,
    "y": 180,
    "wires": []
}, {
    "id": "2d61e77.a7d4118",
    "type": "ui_gauge",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "group": "629172f0.cdcc8c",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Temperature",
    "label": "째F",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 570,
    "y": 140,
    "wires": []
}, {
    "id": "29b5b858.04e0a8",
    "type": "ui_gauge",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "group": "629172f0.cdcc8c",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Humidity",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 540,
    "y": 200,
    "wires": []
}, {
    "id": "e6e27b3c.e95708",
    "type": "function",
    "z": "4b2133b7.be3c3c",
    "name": "Temperature",
    "func": "msg.payload=msg.payload.main.temp\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 350,
    "y": 300,
    "wires": [
        ["dfc85f6.be904a", "4c69f1a2.2b95b"]
    ]
}, {
    "id": "11f8c32a.85d2ed",
    "type": "function",
    "z": "4b2133b7.be3c3c",
    "name": "Humidity",
    "func": "msg.payload=msg.payload.main.humidity\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 360,
    "y": 340,
    "wires": [
        ["5702cc96.b605c4", "364718da.494fb8"]
    ]
}, {
    "id": "dfc85f6.be904a",
    "type": "debug",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 533,
    "y": 281,
    "wires": []
}, {
    "id": "5702cc96.b605c4",
    "type": "debug",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 522,
    "y": 330,
    "wires": []
}, {
    "id": "4c69f1a2.2b95b",
    "type": "ui_gauge",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "group": "3c784bf6.0a3bf4",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Temperature",
    "label": "째F",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 559,
    "y": 288,
    "wires": []
}, {
    "id": "364718da.494fb8",
    "type": "ui_gauge",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "group": "3c784bf6.0a3bf4",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Humidity",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 560,
    "y": 360,
    "wires": []
}, {
    "id": "512d5c9.9ce53a4",
    "type": "http request",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": false,
    "url": "api.openweathermap.org/data/2.5/weather?q=Brisbane,au&units=imperial&appid=09582a74aa811776969e87890d696596",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "basic",
    "x": 310,
    "y": 380,
    "wires": [
        ["22d161.7ec1eea", "aeb4cafa.a5e458"]
    ]
}, {
    "id": "22d161.7ec1eea",
    "type": "function",
    "z": "4b2133b7.be3c3c",
    "name": "Temperature",
    "func": "msg.payload=msg.payload.main.temp\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 367,
    "y": 408,
    "wires": [
        ["52bd95f9.04f46c", "30768590.acdbba"]
    ]
}, {
    "id": "aeb4cafa.a5e458",
    "type": "function",
    "z": "4b2133b7.be3c3c",
    "name": "Humidity",
    "func": "msg.payload=msg.payload.main.humidity\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 339,
    "y": 466,
    "wires": [
        ["a525c2b2.b4a18", "422ab1af.b14db"]
    ]
}, {
    "id": "52bd95f9.04f46c",
    "type": "debug",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 530,
    "y": 420,
    "wires": []
}, {
    "id": "a525c2b2.b4a18",
    "type": "debug",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 538,
    "y": 464,
    "wires": []
}, {
    "id": "30768590.acdbba",
    "type": "ui_gauge",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "group": "911a864a.51e1d8",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Temperature",
    "label": "째F",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 550,
    "y": 440,
    "wires": []
}, {
    "id": "422ab1af.b14db",
    "type": "ui_gauge",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "group": "911a864a.51e1d8",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Humidity",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 560,
    "y": 480,
    "wires": []
}, {
    "id": "dc13850e.364298",
    "type": "http request",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": false,
    "url": "api.openweathermap.org/data/2.5/weather?q=Adelaide,au&units=imperial&appid=09582a74aa811776969e87890d696596",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "basic",
    "x": 310,
    "y": 520,
    "wires": [
        ["8cac713c.088c8", "fb768102.39026"]
    ]
}, {
    "id": "f6c0f15d.9ea4f",
    "type": "debug",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 540,
    "y": 60,
    "wires": []
}, {
    "id": "8cac713c.088c8",
    "type": "function",
    "z": "4b2133b7.be3c3c",
    "name": "Temperature",
    "func": "msg.payload=msg.payload.main.temp\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 350,
    "y": 560,
    "wires": [
        ["d49b4146.ae7a1", "c0bf4adb.bcac08"]
    ]
}, {
    "id": "fb768102.39026",
    "type": "function",
    "z": "4b2133b7.be3c3c",
    "name": "Humidity",
    "func": "msg.payload=msg.payload.main.humidity\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 340,
    "y": 600,
    "wires": [
        ["799ae8ad.74e368", "9448e85b.45e428"]
    ]
}, {
    "id": "d49b4146.ae7a1",
    "type": "debug",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 520,
    "y": 552,
    "wires": []
}, {
    "id": "799ae8ad.74e368",
    "type": "debug",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 531,
    "y": 589,
    "wires": []
}, {
    "id": "c0bf4adb.bcac08",
    "type": "ui_gauge",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "group": "bbe06441.ba7a08",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Temperature",
    "label": "째F",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 530,
    "y": 560,
    "wires": []
}, {
    "id": "9448e85b.45e428",
    "type": "ui_gauge",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "group": "bbe06441.ba7a08",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Humidity",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 542,
    "y": 604,
    "wires": []
}, {
    "id": "a0dfa7f8.8bca78",
    "type": "http request",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": false,
    "url": "https://api.xmltime.com/timeservice?accesskey=2wiEHiwU8U&expires=2020-05-27T23%3A23%3A07%2B00%3A00&signature=SM7VYCmIoz8hY0NjxChIPZbz%2BKc%3D&version=3&placeid=australia%2Flord-howe-island",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "basic",
    "x": 770,
    "y": 120,
    "wires": [
        ["1d48b50f.13482b", "219a7eca.bee622", "5c86150c.f2314c", "3ee122bf.9e4d4e", "9c728dfc.8ea45", "63fd792f.370338", "d7df6471.268a78", "23268f2f.931b", "bd59146a.a664b8"]
    ]
}, {
    "id": "97190786.302438",
    "type": "debug",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 990,
    "y": 180,
    "wires": []
}, {
    "id": "1d48b50f.13482b",
    "type": "debug",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 990,
    "y": 120,
    "wires": []
}, {
    "id": "219a7eca.bee622",
    "type": "function",
    "z": "4b2133b7.be3c3c",
    "name": "Year",
    "func": "msg.payload=msg.payload.locations[0].time.datetime.year\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 790,
    "y": 180,
    "wires": [
        ["97190786.302438", "8460256.b52f7d8"]
    ]
}, {
    "id": "5c86150c.f2314c",
    "type": "function",
    "z": "4b2133b7.be3c3c",
    "name": "Month",
    "func": "msg.payload=msg.payload.locations[0].time.datetime.month\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 770,
    "y": 240,
    "wires": [
        ["59e2d798.e67508", "5f7e344e.2d1f3c"]
    ]
}, {
    "id": "3ee122bf.9e4d4e",
    "type": "function",
    "z": "4b2133b7.be3c3c",
    "name": "Day",
    "func": "msg.payload=msg.payload.locations[0].time.datetime.day\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 750,
    "y": 300,
    "wires": [
        ["effec65d.da6e88", "83e1798a.b7ae88"]
    ]
}, {
    "id": "9c728dfc.8ea45",
    "type": "function",
    "z": "4b2133b7.be3c3c",
    "name": "Hour",
    "func": "msg.payload=msg.payload.locations[0].time.datetime.hour\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 730,
    "y": 360,
    "wires": [
        ["eae7372.55c48c8", "4fa05710.9d90d8"]
    ]
}, {
    "id": "63fd792f.370338",
    "type": "function",
    "z": "4b2133b7.be3c3c",
    "name": "Minute",
    "func": "msg.payload=msg.payload.locations[0].time.datetime.minute\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 730,
    "y": 420,
    "wires": [
        ["6ef6a51f.ddca8c", "6a8e8d57.655164"]
    ]
}, {
    "id": "d7df6471.268a78",
    "type": "function",
    "z": "4b2133b7.be3c3c",
    "name": "Second",
    "func": "msg.payload=msg.payload.locations[0].time.datetime.second\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 740,
    "y": 480,
    "wires": [
        ["ad167d9a.f021", "84c99a8f.553188"]
    ]
}, {
    "id": "59e2d798.e67508",
    "type": "debug",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 990,
    "y": 240,
    "wires": []
}, {
    "id": "effec65d.da6e88",
    "type": "debug",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 990,
    "y": 300,
    "wires": []
}, {
    "id": "eae7372.55c48c8",
    "type": "debug",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 990,
    "y": 360,
    "wires": []
}, {
    "id": "6ef6a51f.ddca8c",
    "type": "debug",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 970,
    "y": 420,
    "wires": []
}, {
    "id": "ad167d9a.f021",
    "type": "debug",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 990,
    "y": 480,
    "wires": []
}, {
    "id": "8460256.b52f7d8",
    "type": "ui_gauge",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "group": "35bcdcb5.d467a4",
    "order": 6,
    "width": "4",
    "height": "3",
    "gtype": "gage",
    "title": "Year",
    "label": "",
    "format": "{{value}}",
    "min": 0,
    "max": "3000",
    "colors": ["#00ff00", "#ff8000", "#ff0000"],
    "seg1": "",
    "seg2": "",
    "x": 1170,
    "y": 220,
    "wires": []
}, {
    "id": "5f7e344e.2d1f3c",
    "type": "ui_gauge",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "group": "35bcdcb5.d467a4",
    "order": 6,
    "width": "4",
    "height": "3",
    "gtype": "gage",
    "title": "Month",
    "label": "",
    "format": "{{value}}",
    "min": 0,
    "max": "12",
    "colors": ["#00ff00", "#ff8000", "#ff0000"],
    "seg1": "",
    "seg2": "",
    "x": 1170,
    "y": 280,
    "wires": []
}, {
    "id": "83e1798a.b7ae88",
    "type": "ui_gauge",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "group": "35bcdcb5.d467a4",
    "order": 6,
    "width": "4",
    "height": "3",
    "gtype": "gage",
    "title": "Day",
    "label": "",
    "format": "{{value}}",
    "min": 0,
    "max": "31",
    "colors": ["#00ff00", "#ff8000", "#ff0000"],
    "seg1": "",
    "seg2": "",
    "x": 1170,
    "y": 340,
    "wires": []
}, {
    "id": "4fa05710.9d90d8",
    "type": "ui_gauge",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "group": "4c8e1830.e18378",
    "order": 6,
    "width": "4",
    "height": "3",
    "gtype": "gage",
    "title": "Hour",
    "label": "",
    "format": "{{value}}",
    "min": 0,
    "max": "24",
    "colors": ["#00ff00", "#ff8000", "#ff0000"],
    "seg1": "",
    "seg2": "",
    "x": 1190,
    "y": 400,
    "wires": []
}, {
    "id": "6a8e8d57.655164",
    "type": "ui_gauge",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "group": "4c8e1830.e18378",
    "order": 6,
    "width": "4",
    "height": "3",
    "gtype": "gage",
    "title": "Minute",
    "label": "",
    "format": "{{value}}",
    "min": 0,
    "max": "60",
    "colors": ["#00ff00", "#ff8000", "#ff0000"],
    "seg1": "",
    "seg2": "",
    "x": 1190,
    "y": 440,
    "wires": []
}, {
    "id": "84c99a8f.553188",
    "type": "ui_gauge",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "group": "4c8e1830.e18378",
    "order": 6,
    "width": "4",
    "height": "3",
    "gtype": "gage",
    "title": "Second",
    "label": "",
    "format": "{{value}}",
    "min": 0,
    "max": "60",
    "colors": ["#00ff00", "#ff8000", "#ff0000"],
    "seg1": "",
    "seg2": "",
    "x": 1200,
    "y": 480,
    "wires": []
}, {
    "id": "23268f2f.931b",
    "type": "function",
    "z": "4b2133b7.be3c3c",
    "name": "Latitude",
    "func": "msg.payload=msg.payload.locations[0].geo.latitude\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 780,
    "y": 540,
    "wires": [
        ["4788dd34.ddbaa4", "90fac8e0.6460e8"]
    ]
}, {
    "id": "bd59146a.a664b8",
    "type": "function",
    "z": "4b2133b7.be3c3c",
    "name": "longitude",
    "func": "msg.payload=msg.payload.locations[0].geo.longitude\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 808,
    "y": 590,
    "wires": [
        ["b888c79d.5d2178", "8c596d48.ca92b"]
    ]
}, {
    "id": "4788dd34.ddbaa4",
    "type": "debug",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 990,
    "y": 540,
    "wires": []
}, {
    "id": "b888c79d.5d2178",
    "type": "debug",
    "z": "4b2133b7.be3c3c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 990,
    "y": 580,
    "wires": []
}, {
    "id": "90fac8e0.6460e8",
    "type": "ui_text",
    "z": "4b2133b7.be3c3c",
    "group": "36def9a2.919f36",
    "order": 0,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Latitude",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1250,
    "y": 540,
    "wires": []
}, {
    "id": "8c596d48.ca92b",
    "type": "ui_text",
    "z": "4b2133b7.be3c3c",
    "group": "36def9a2.919f36",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Longitude",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1270,
    "y": 600,
    "wires": []
}, {
    "id": "629172f0.cdcc8c",
    "type": "ui_group",
    "z": "",
    "name": "Sydney",
    "tab": "f73ed254.4494e",
    "order": 4,
    "disp": true,
    "width": "6",
    "collapse": false
}, {
    "id": "3c784bf6.0a3bf4",
    "type": "ui_group",
    "z": "",
    "name": "Melbourne",
    "tab": "f73ed254.4494e",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false
}, {
    "id": "911a864a.51e1d8",
    "type": "ui_group",
    "z": "",
    "name": "Brisbane",
    "tab": "f73ed254.4494e",
    "order": 4,
    "disp": true,
    "width": "6",
    "collapse": false
}, {
    "id": "bbe06441.ba7a08",
    "type": "ui_group",
    "z": "",
    "name": "Adelaide",
    "tab": "f73ed254.4494e",
    "order": 5,
    "disp": true,
    "width": "6",
    "collapse": false
}, {
    "id": "35bcdcb5.d467a4",
    "type": "ui_group",
    "z": "",
    "name": "Date",
    "tab": "3c4d946f.8c56fc",
    "order": 2,
    "disp": true,
    "width": "4",
    "collapse": false
}, {
    "id": "4c8e1830.e18378",
    "type": "ui_group",
    "z": "",
    "name": "Time",
    "tab": "3c4d946f.8c56fc",
    "order": 3,
    "disp": true,
    "width": "4",
    "collapse": false
}, {
    "id": "36def9a2.919f36",
    "type": "ui_group",
    "z": "",
    "name": "Location",
    "tab": "3c4d946f.8c56fc",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
}, {
    "id": "f73ed254.4494e",
    "type": "ui_tab",
    "z": "",
    "name": "Weather",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
}, {
    "id": "3c4d946f.8c56fc",
    "type": "ui_tab",
    "z": "",
    "name": "Time",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
}]
